fullnameOverride: argocd
crds:
  install: true
  keep: false

server:
  ingress:
    enabled: "true"
    annotations: 
      kubernetes.io/ingress.class: nginx
      ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - argocd.mooo.com
    paths:
      - /
    pathType: Prefix
    extraPaths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              name: https

